<div class="customer">
  <%= image_tag customer.image %>
  <h2><%= customer.full_name %></h2>
  <p><strong>Phone:</strong> <%= customer.phone_number %></p>
  <p><strong>Email:</strong> <%= customer.email %></p>
  <p><strong>Notes:</strong> <%= customer.notes %></p>
</div>
